    @charset "utf-8";
    body {
        color: #666;
        font-size: 12px;
    }
    
    a {
        color: #666;
    }
    /* S Layout area */
    
    .j-header {}
    
    .j-header .top-nav {
        margin: 0 auto;
        width: 1190px;
        height: 74px;
        padding-top: 24px;
        /* line-height: 74px; */
        /* border: 1px solid blue; */
    }
    /* S logo area */
    
    .j-header .top-nav .logo {
        float: left;
    }
    
    .top-nav .logo h1 {
        position: absolute;
        text-indent: -9999px;
    }
    /* E logo area */
    /* S Search area */
    
    .j-header .top-nav .search {
        position: relative;
        margin: 0 265px 0 357px;
        padding-top: 10px;
        line-height: 30px;
    }
    
    .j-header .top-nav .search .infor-search {
        position: relative;
        display: inline-block;
        width: 66px;
        height: 30px;
        text-align: center;
        border: 1px solid #e0e0e0;
    }
    
    .j-header .top-nav .search input {
        display: inline-block;
        width: 400px;
        height: 32px;
        text-align: left;
        padding-left: 1em;
        border: 1px solid #e0e0e0;
        margin: 0px 0px -1px -1px;
    }
    
    .j-header .top-nav .search .infor-search,
    .j-header .top-nav .search input {
        float: left;
    }
    /* infor-menu */
    
    .j-header .top-nav .search .infor-menu {
        position: absolute;
        display: none;
    }
    
    .j-header .top-nav .search .infor-menu li {
        border: 1px solid #e0e0e0;
        width: 66px;
        height: 28px;
        margin: 0px 0px -1px -1px;
    }
    
    .j-header .search .infor-menu li:hover {
        background-color: #e0e0e0;
    }
    /* menu-hover */
    
    .j-header .infor-search:hover .infor-menu {
        display: block;
    }
    /* icon-search */
    
    .j-header .top-nav .search .icon-search {
        position: absolute;
        background: url(../images/search.svg) no-repeat;
        display: inline-block;
        width: 30px;
        height: 30px;
        left: 435px;
        top: 11px;
    }
    
    .j-header .top-nav .search .icon-triangle-down {
        float: right;
        margin: 14px 6px 14px 0;
    }
    /* E Search area */
    /* S User area */
    
    .j-header .top-nav .user-nav {
        padding-top: 5px;
    }
    
    .j-header .user-nav>ul>li {
        float: left;
        height: 42px;
        line-height: 42px;
        margin: 0 11px 0 14px;
    }
    
    .j-header .user-nav .user-profile {
        width: 42px;
        height: 42px;
        border-radius: 50%;
    }
    
    .j-header .user-nav .userName {
        display: inline-block;
        position: relative;
    }
    /* user-show-Information */
    
    .user-nav .user-menu-information li {
        display: block;
        border: 1px solid #f1f1f1;
        margin: 0px 0px -1px -1px;
        width: 124px;
        height: 40px;
        opacity: 0.8;
    }
    
    .j-header .user-nav .user-menu-information {
        position: absolute;
        left: -32px;
        top: 35px;
        display: none;
    }
    
    .user-nav .user-menu-information li:hover {
        background-color: #e0e0e0;
    }
    
    .j-header .user:hover .user-menu-information {
        display: block;
    }
    
    .j-header .user-nav .msg-wrap {
        position: relative;
        width: 30px;
        height: 40px;
        background: url('../images/infor.svg') no-repeat left top 8px;
    }
    
    .j-header .user-nav .msg {
        position: relative;
        top: 2px;
        display: inline-block;
        width: 33px;
        height: 30px;
        line-height: 30px;
        background: url('../images/red-circle.svg') no-repeat right top;
    }
    
    .j-header .user-nav .msg-num {
        color: #ffffff;
        position: absolute;
        top: -7px;
        left: 22px;
    }
    
    .j-header .user-nav .icon {
        display: inline-block;
        float: right;
        margin: 20px 0 0 5px;
    }
    /* E User area */
    
    .j-header .top-nav .user-nav {
        float: right;
    }
    /* E Layout area */
    /* ====================================================================== */
    /* S Main Navi area */
    
    .site-nav {
        background-color: #3598db;
        position: relative;
    }
    
    .site-nav .bg-red-wrap {
        margin-left: 1190px;
    }
    
    .site-nav .bg-red-wrap .bg-red {
        position: absolute;
        right: 0;
        top: 0;
        width: 40%;
        height: 60px;
        background-color: #e7594d;
    }
    
    .site-nav .site-nav-wrap {
        margin: 0 auto;
        height: 60px;
        width: 1190px;
    }
    /* Main nav */
    
    .site-nav .main-nav {
        float: left;
    }
    
    .site-nav li,
    .site-nav a {
        color: #fff;
        font-size: 16px;
    }
    
    .site-nav .main-nav .menu-item {
        float: left;
        height: 60px;
        line-height: 60px;
        margin-right: 10px;
    }
    
    .site-nav .main-nav a {
        display: inline-block;
        height: 32px;
        line-height: 32px;
        padding: 0 22px;
        border-radius: 3px;
    }
    
    .site-nav .menu-item a.cur {
        background-color: #2db0f9;
    }
    
    .site-nav .menu-item a:hover {
        background-color: #2db0f9;
    }
    /* Aside nav */
    
    .site-nav .aside-nav {
        float: right;
        padding-left: 20px;
        background-color: #e7594d;
    }
    
    .aside-nav li {
        float: left;
        line-height: 60px;
        height: 60px;
        margin-left: 20px;
    }
    /* E Main Navi area */
    /* ====================================================================== */

    .container{
        margin-top: 100px;
        width: 100%;
        height: 60px;
        line-height: 60px;
        position: relative;
        background: #2db0f9;
        overflow: hidden;
    }
    .main{
        width: 60%;
        position: absolute;
        left: 0;
        top: 0;
        height: inherit;
    }
    .aside{
        width: 40%;
        position: absolute;
        top: 0;
        right: 0;
        background: #e7594d;
        height: inherit;
    }
    .main-list{
        margin-left: 100px;
    }
    .aside-list{
        margin-right: 100px;
    }
    .nav-list li{
        float: left;
        margin: 0 20px;
    }
    .nav-list li:last-child{
        position: relative;
    }
    .nav-list li:last-child::before{
        content: '';
        position: absolute;
        left: -20px;
        top: 20px;
        width: 0;
        height: 20px;
        border-left: 1px solid #151616;
    }
    /* .main-list li {
        float: left;
    }
    .aside-list li {
        float: right;
    } */