@charset "utf-8";
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0; padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details,summary,picture,iframe{display:block;}
table{border-collapse:collapse; border-spacing:0;}
caption,th{text-align:left; font-weight:normal;}
html,body,img,iframe,abbr{border:0;}
address,i,em,b{font-style:normal;}
[hidefocus],summary,button:focus{outline:none;}
li{list-style:none;}
sup,sub{font-size:12px;}
textarea{overflow:auto; resize:none;}
label{cursor:default;}
a,button,input[type="submit"]{cursor:pointer;}
h1,h2,h3,h4,h5,h6,b{font-weight:normal; display:block;}
a{color:inherit; text-decoration:none; outline:none;}
body,textarea,input,button,select,keygen,legend{font:14px/1.6 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif; color:#333; outline:0;}
body{background:#fff; -webkit-transition:none !important; -moz-transition:none !important; -ms-transition:none !important; -o-transition:none !important; -webkit-tap-highlight-color:rgba(255,0,0,0); -webkit-user-select:none;}

input[type="text"],
input[type="password"],
textarea,
select{box-sizing:border-box; padding:0 10px; border:1px solid #e6e6e6;}
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus{border-color:#aaa;}
input[type="submit"]{border:none;}