@charset "utf-8";
body {
    color: #666;
    font-size: 12px;
}

a {
    color: #666;
}

.login {
    min-width: 1000px;
}


/* ========================================================================================================= */


/* Start head */

.head {
    position: relative;
    margin: 0 auto;
    height: 88px;
}

.head-logo {
    /* position: absolute; */
    float: left;
    margin: 22px 200px;
    /* left: 359px;
    top: 22px; */
    width: 190px;
    height: 44px;
    background: url(../images/logo.jpg) no-repeat;
}

.head-right {
    position: absolute;
    float: right;
    right: 261px;
    top: 26px;
}

.head-btn {
    display: inline-block;
    width: 100px;
    height: 36px;
    background-color: #ff8111;
    color: #fff;
    font-size: 14px;
    /* font-weight: bold; */
    line-height: 36px;
    text-align: center;
    border-radius: 30px;
}

.head-right a:hover {
    color: #666;
}


/* End head */


/* ========================================================================================================= */


/* Start main */

.main {
    position: relative;
    /* margin: 0 auto; */
    height: 660px;
    background: url(../images/bg.jpg) no-repeat;
    background-size: cover;
}

.main-login {
    position: absolute;
    float: right;
    top: 81px;
    right: 261px;
    width: 402px;
    height: 500px;
    background-color: #fff;
}

.main-login-title {
    display: inline-block;
    margin: 51px 42px 0;
    font-size: 18px;
    color: #000;
}

.main-login-userName,
.main-login-pwd {
    margin: 30px 42px;
}

.main-login-pwd-btn,
.main-login-userName-btn {
    width: 320px;
    height: 48px;
    font-size: 16px;
    color: #d9d9d9;
}

.main-login-cb {
    height: 12px;
    line-height: 12px;
    font-size: 14px;
    color: #999999;
    margin: 30px 42px;
}

.main-login-cb-checkbox {
    float: left;
    margin-right: 10px;
}

.main-login-cb-title {
    float: right;
    margin-right: 40px;
}

.main-login-submit {
    margin: 30px auto 14px 44px;
    font-size: 16px;
    background-color: #ff8111;
    color: #fff;
    width: 318px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-radius: 1px;
}

.main-login-register {
    margin: 15px auto 30px 44px;
    font-size: 16px;
    border: #ff8111 solid 1px;
    color: #ff8111;
    width: 316px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-radius: 1px;
}

.main-login-bottom {
    margin: 35px auto 24px auto;
    color: #999999;
    font-size: 14px;
    height: 14px;
    line-height: 14px;
    text-align: center;
}


/* End main */


/* ========================================================================================================= */


/* Start bottom */

.bottom {
    height: 130px;
    color: #838383;
    font-size: 14px;
    text-align: center;
}

.bottom-p1 {
    display: inline-block;
    margin: 50px 0 0 0;
}

.bottom-p2 {
    display: inline-block;
    margin: 0 0 40px 0;
}


/* End bottom */